@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-gray-100;
  -webkit-font-smoothing: antialiased;
}

body::-webkit-scrollbar {
  width: 16px;
}
body::-webkit-scrollbar-track {
  background-color: #29292e;
}
body::-webkit-scrollbar-thumb {
  background-color: #015f43;
  border-radius: 8px;
}
